@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.topnav {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
    height: 70px;
  }

  .topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: black;
    color: gold;
  }

#parallax {
    background-image: url(robotics.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3em;
}

#parallax h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 5px black,
    -2px 2px 5px black,
    -2px -2px 5px black,
    2px -2px 5px black;
    margin-top: 0;
    font-size: 200%;
    align-self: center;
    align-content: center;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#content {
    background-color: white;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#content h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 10%;
    font-size: 160%;
    margin-left: 3%;
}

#content p {
    margin-left: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
}

#watermark {
    position: fixed;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60%;
    bottom: 0px;
    right: 2px;
}